dist/lua-5.3.5/src/liblua.a
dist/lua-5.3.5/src/lua
dist/lua-5.3.5/src/luac
*~
*.o
*.so
*.la
*.lo
*.Plo
dist/gnuplot-5.2.8/Makefile
dist/gnuplot-5.2.8/config.h
dist/gnuplot-5.2.8/config.log
dist/gnuplot-5.2.8/config.status
dist/gnuplot-5.2.8/config/Makefile
dist/gnuplot-5.2.8/demo/Makefile
dist/gnuplot-5.2.8/demo/binary1
dist/gnuplot-5.2.8/demo/binary2
dist/gnuplot-5.2.8/demo/binary3
dist/gnuplot-5.2.8/demo/plugin/.deps/
dist/gnuplot-5.2.8/demo/plugin/Makefile
dist/gnuplot-5.2.8/docs/.deps/
dist/gnuplot-5.2.8/docs/Makefile
dist/gnuplot-5.2.8/docs/alldoc2gih
dist/gnuplot-5.2.8/docs/allterm.h
dist/gnuplot-5.2.8/docs/checkdoc
dist/gnuplot-5.2.8/docs/doc2gih
dist/gnuplot-5.2.8/docs/doc2hlp
dist/gnuplot-5.2.8/docs/doc2ipf
dist/gnuplot-5.2.8/docs/doc2ms
dist/gnuplot-5.2.8/docs/doc2rnh
dist/gnuplot-5.2.8/docs/doc2rtf
dist/gnuplot-5.2.8/docs/doc2tex
dist/gnuplot-5.2.8/docs/gnuplot.gih
dist/gnuplot-5.2.8/m4/Makefile
dist/gnuplot-5.2.8/man/Makefile
dist/gnuplot-5.2.8/share/Gnuplot
dist/gnuplot-5.2.8/share/LaTeX/Makefile
dist/gnuplot-5.2.8/share/Makefile
dist/gnuplot-5.2.8/src/.deps/
dist/gnuplot-5.2.8/src/Makefile
dist/gnuplot-5.2.8/src/beos/Makefile
dist/gnuplot-5.2.8/src/bf_test
dist/gnuplot-5.2.8/src/gnuplot
dist/gnuplot-5.2.8/src/gnuplot_x11
dist/gnuplot-5.2.8/src/qtterminal/.deps/
dist/gnuplot-5.2.8/src/qtterminal/Makefile
dist/gnuplot-5.2.8/src/timestamp.h
dist/gnuplot-5.2.8/src/wxterminal/.deps/
dist/gnuplot-5.2.8/src/wxterminal/Makefile
dist/gnuplot-5.2.8/stamp-h
dist/gnuplot-5.2.8/stamp-h1
dist/gnuplot-5.2.8/term/Makefile
dist/gnuplot-5.2.8/tutorial/Makefile
